public_html/html/employees-article.html
<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0,minimum-scale=1.0, shrink-to-fit=no">
		<meta name="format-detection" content="telephone=no">
		<title>Пак Элла Юрьевна | UIBstud</title>
		<link rel="apple-touch-icon" sizes="180x180" href="/img/favicon/apple-touch-icon.png">
		<link rel="icon" type="image/png" sizes="32x32" href="/img/favicon/favicon-32x32.png">
		<link rel="icon" type="image/png" sizes="16x16" href="/img/favicon/favicon-16x16.png">
		<link rel="manifest" href="/img/favicon/site.webmanifest">
		<link rel="mask-icon" href="/img/favicon/safari-pinned-tab.svg" color="#008170">
		<meta name="msapplication-TileColor" content="#ffffff">
		<meta name="theme-color" content="#ffffff">
		<link rel="stylesheet" href="../vendor/fontawesome-free-5.13.0-web/css/all.min.css">
		<link rel="stylesheet" href="../vendor/normalize.min.css">
		<link rel="stylesheet" href="../css/style.css">
	</head>
	<body class="teacher">
		<header class="header">
			<div class="container">
				<div class="header__wrapper"><a class="header__logo" href="http://uib.kz/" target="_blank"><img src="/img/logo-uib.png"></a>
					<div class="header__avatar" style="background-image: url(&quot;/img/ava.jpg&quot;)"><a class="header__exit" href="authorization.html">Выход</a></div>
				</div>
			</div>
		</header>
		<div class="content">
			<nav class="main-menu">
				<div class="main-menu__wrapper">
					<ul>
						<li><a href="index.html"><i class="fa fa-2x fas fa-user-graduate"></i><span class="nav-text">Личный кабинет</span></a></li>
						<li class="has-subnav"><a href="employees.html"><i class="fa fa-2x fas fa-id-card-alt"></i><span class="nav-text">Преподователи</span></a></li>
						<li class="has-subnav"><a href="map.html"><i class="fa fa-2x fas fa-map-marked-alt"></i><span class="nav-text">Карта ВУЗа</span></a></li>
						<li class="has-subnav"><a href="news.html"><i class="fa fa-2x far fa-newspaper"></i><span class="nav-text">Новости</span></a></li>
						<li><a href="schedule.html"><i class="fa fa-2x fas fa-book-open"></i><span class="nav-text">Расписание</span></a></li>
						<li><a href="networking.html"><i class="fa fa-2x fas fa-users"></i><span class="nav-text">Нетворкинг</span></a></li>
						<li><a href="networking-form.html"><i class="fa fa-2x fas fa-plus"></i><span class="nav-text">Нетворкинг - заявление</span></a></li>
						<li><a href="things.html"><i class="fa fa-2x fas fa-search"></i><span class="nav-text">Потеряшка - заявление</span></a></li>
						<li><a href="things-list.html"><i class="fa fa-2x fas fa-clipboard-list"></i><span class="nav-text">Списки потеряшек</span></a></li>
					</ul>
				</div>
			</nav>
			<div class="container">
				<div class="personal-area__wrapper">
					<div class="personal-area__item">
						<div class="personal-area__ava--wrapper">
							<div class="personal-area__ava" style="background-image: url(&quot;/img/unnamed.jpg&quot;)"></div>
						</div>
						<div class="personal-area__text">
							<h6 class="personal-area__name">Пак Элла Юрьевна</h6>
							<div class="personal-area__info">
								Практик.
								Бизнес-тренер, бизнес-консультант в области маркетинговых исследований, управления маркетингом, анализа рынка, изучения поведения потребителей.
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<footer class="footer">
			<div class="container">
				<div class="footer__wrapper">
					<div class="footer__item--icon"><a class="footer__icon" href="#">
						<div class="footer__icon--img" style="background-image: url(&quot;/img/icons/uib.png&quot;)" title="UIB"></div></a><a class="footer__icon" href="#">
						<div class="footer__icon--img" style="background-image: url(&quot;/img/icons/favicon.png&quot;)" title="moodle"></div></a><a class="footer__icon" href="#">
						<div class="footer__icon--img" style="background-image: url(&quot;/img/icons/instagram.png&quot;)" title="instagram"></div></a><a class="footer__icon" href="#">
						<div class="footer__icon--img" style="background-image: url(&quot;/img/icons/vk.png&quot;)" title="vk"></div></a><a class="footer__icon" href="#">
						<div class="footer__icon--img" style="background-image: url(&quot;/img/icons/facebook.png&quot;)" title="facebook"></div></a><a class="footer__icon" href="#">
						<div class="footer__icon--img" style="background-image: url(&quot;/img/icons/youtube.png&quot;)" title="youtube"></div></a></div>
					<div class="footer__item--txt"><a class="footer__txt--link" href="#">Левкович Дарья</a><a class="footer__txt--link" href="#">Армидинова Карина</a>
						<p class="footer__txt">2020</p>
					</div>
				</div>
			</div>
		</footer>
		<script src="../vendor/jquery/jquery.min.js"></script>
		<script src="../js/all.min.js"></script>
	</body>
</html>

app/static/pug/employees-article.pug
extends layout/_main
block variables
	- var title = 'Пак Элла Юрьевна';
	- var pageClass = 'teacher';

block content
	.container
		.personal-area__wrapper
			.personal-area__item
				.personal-area__ava--wrapper
					.personal-area__ava(style='background-image: url("/img/unnamed.jpg")')
				.personal-area__text
					h6.personal-area__name Пак Элла Юрьевна
					.personal-area__info.
						Практик.
						Бизнес-тренер, бизнес-консультант в области маркетинговых исследований, управления маркетингом, анализа рынка, изучения поведения потребителей.
