public_html/html/things.html
<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0,minimum-scale=1.0, shrink-to-fit=no">
		<meta name="format-detection" content="telephone=no">
		<title>Вещи UIB | UIBstud</title>
		<link rel="apple-touch-icon" sizes="180x180" href="/img/favicon/apple-touch-icon.png">
		<link rel="icon" type="image/png" sizes="32x32" href="/img/favicon/favicon-32x32.png">
		<link rel="icon" type="image/png" sizes="16x16" href="/img/favicon/favicon-16x16.png">
		<link rel="manifest" href="/img/favicon/site.webmanifest">
		<link rel="mask-icon" href="/img/favicon/safari-pinned-tab.svg" color="#008170">
		<meta name="msapplication-TileColor" content="#ffffff">
		<meta name="theme-color" content="#ffffff">
		<link rel="stylesheet" href="../vendor/fontawesome-free-5.13.0-web/css/all.min.css">
		<link rel="stylesheet" href="../vendor/normalize.min.css">
		<link rel="stylesheet" href="../css/style.css">
	</head>
	<body class="things">
		<header class="header">
			<div class="container">
				<div class="header__wrapper"><a class="header__logo" href="http://uib.kz/" target="_blank"><img src="/img/logo-uib.png"></a>
					<div class="header__avatar" style="background-image: url(&quot;/img/ava.jpg&quot;)"><a class="header__exit" href="authorization.html">Выход</a></div>
				</div>
			</div>
		</header>
		<div class="content">
			<nav class="main-menu">
				<div class="main-menu__wrapper">
					<ul>
						<li><a href="index.html"><i class="fa fa-2x fas fa-user-graduate"></i><span class="nav-text">Личный кабинет</span></a></li>
						<li class="has-subnav"><a href="employees.html"><i class="fa fa-2x fas fa-id-card-alt"></i><span class="nav-text">Преподователи</span></a></li>
						<li class="has-subnav"><a href="map.html"><i class="fa fa-2x fas fa-map-marked-alt"></i><span class="nav-text">Карта ВУЗа</span></a></li>
						<li class="has-subnav"><a href="news.html"><i class="fa fa-2x far fa-newspaper"></i><span class="nav-text">Новости</span></a></li>
						<li><a href="schedule.html"><i class="fa fa-2x fas fa-book-open"></i><span class="nav-text">Расписание</span></a></li>
						<li><a href="networking.html"><i class="fa fa-2x fas fa-users"></i><span class="nav-text">Нетворкинг</span></a></li>
						<li><a href="networking-form.html"><i class="fa fa-2x fas fa-plus"></i><span class="nav-text">Нетворкинг - заявление</span></a></li>
						<li><a href="things.html"><i class="fa fa-2x fas fa-search"></i><span class="nav-text">Потеряшка - заявление</span></a></li>
						<li><a href="things-list.html"><i class="fa fa-2x fas fa-clipboard-list"></i><span class="nav-text">Списки потеряшек</span></a></li>
					</ul>
				</div>
			</nav>
			<div class="container">
				<div class="employees__title">Вещи UIB</div>
				<div class="map__wrapper">
					<nav role="tablist">
						<div class="nav nav-tabs">
							<div class="nav-link" id="defaultOpen" data-target="search">Пропажа</div>
							<div class="nav-link" data-target="finding">Находка</div>
						</div>
						<div class="tab-content">
							<div class="tab-pane" id="search">
								<div class="things__form--wrapper">
									<p><span class="label-required">*</span>- обязательные поля</p>
									<form>
										<div class="form-group">
											<label for="search-tel">Контакты для связи<span class="label-required">*</span></label>
											<input class="form-control" id="search-tel" type="tel" placeholder="Телефон" required="required">
										</div>
										<div class="form-group">
											<label for="search-tel-other">Допольнительный телефон</label>
											<input class="form-control" id="search-tel-other" type="tel" placeholder="Телефон">
										</div>
										<div class="form-group">
											<label for="search-textarea">Описание найденной вещи (где нашли, день/время, примечательные черты)<span class="label-required">*</span></label>
											<textarea class="form-control" id="search-textarea" rows="3" required="required"></textarea>
										</div>
										<div class="form-group">
											<label for="search-file">Фото</label>
											<input class="form-control-file" id="search-file" type="file">
										</div>
										<button class="btn btn--default" type="submit">Отправить</button>
									</form>
								</div>
							</div>
							<div class="tab-pane" id="finding">
								<div class="things__form--wrapper">
									<p><span class="label-required">*</span>- обязательные поля</p>
									<form>
										<div class="form-group">
											<label for="finding-tel">Контакты для связи<span class="label-required">*</span></label>
											<input class="form-control" id="finding-tel" type="tel" placeholder="Телефон" required="required">
										</div>
										<div class="form-group">
											<label for="finding-tel-other">Допольнительный телефон</label>
											<input class="form-control" id="finding-tel-other" type="tel" placeholder="Телефон">
										</div>
										<div class="form-group">
											<label for="finding-textarea">Описание найденной вещи (где нашли, день/время, примечательные черты)<span class="label-required">*</span></label>
											<textarea class="form-control" id="finding-textarea" rows="3" required="required"></textarea>
										</div>
										<div class="form-group">
											<label for="finding-file">Фото</label>
											<input class="form-control-file" id="finding-file" type="file">
										</div>
										<button class="btn btn--default" type="submit">Отправить</button>
									</form>
								</div>
							</div>
						</div>
					</nav>
				</div>
			</div>
		</div>
		<footer class="footer">
			<div class="container">
				<div class="footer__wrapper">
					<div class="footer__item--icon"><a class="footer__icon" href="#">
						<div class="footer__icon--img" style="background-image: url(&quot;/img/icons/uib.png&quot;)" title="UIB"></div></a><a class="footer__icon" href="#">
						<div class="footer__icon--img" style="background-image: url(&quot;/img/icons/favicon.png&quot;)" title="moodle"></div></a><a class="footer__icon" href="#">
						<div class="footer__icon--img" style="background-image: url(&quot;/img/icons/instagram.png&quot;)" title="instagram"></div></a><a class="footer__icon" href="#">
						<div class="footer__icon--img" style="background-image: url(&quot;/img/icons/vk.png&quot;)" title="vk"></div></a><a class="footer__icon" href="#">
						<div class="footer__icon--img" style="background-image: url(&quot;/img/icons/facebook.png&quot;)" title="facebook"></div></a><a class="footer__icon" href="#">
						<div class="footer__icon--img" style="background-image: url(&quot;/img/icons/youtube.png&quot;)" title="youtube"></div></a></div>
					<div class="footer__item--txt"><a class="footer__txt--link" href="#">Левкович Дарья</a><a class="footer__txt--link" href="#">Армидинова Карина</a>
						<p class="footer__txt">2020</p>
					</div>
				</div>
			</div>
		</footer>
		<script src="../vendor/jquery/jquery.min.js"></script>
		<script src="../js/all.min.js"></script>
	</body>
</html>

app/static/pug/things.pug
extends layout/_main
block variables
	- var title = 'Вещи UIB';
	- var pageClass = 'things';

block content
	.container
		.employees__title Вещи UIB
		.map__wrapper
			nav(role='tablist')
				.nav.nav-tabs
					#defaultOpen.nav-link(data-target="search") Пропажа
					.nav-link(data-target="finding") Находка
				.tab-content
					#search.tab-pane
						.things__form--wrapper
							p
								span.label-required *
								| - обязательные поля
							form
								.form-group
									label(for='search-tel') Контакты для связи
										span.label-required *
									input#search-tel.form-control(type='tel', placeholder='Телефон', required='required')
								.form-group
									label(for='search-tel-other') Допольнительный телефон
									input#search-tel-other.form-control(type='tel', placeholder='Телефон')
								.form-group
									label(for='search-textarea') Описание найденной вещи (где нашли, день/время, примечательные черты)
										span.label-required *
									textarea#search-textarea.form-control(rows='3', required='required')
								.form-group
									label(for='search-file') Фото
									input#search-file.form-control-file(type='file')
								button.btn.btn--default(type='submit') Отправить
					#finding.tab-pane
						.things__form--wrapper
							p
								span.label-required *
								| - обязательные поля
							form
								.form-group
									label(for='finding-tel') Контакты для связи
										span.label-required *
									input#finding-tel.form-control(type='tel', placeholder='Телефон', required='required')
								.form-group
									label(for='finding-tel-other') Допольнительный телефон
									input#finding-tel-other.form-control(type='tel', placeholder='Телефон')
								.form-group
									label(for='finding-textarea') Описание найденной вещи (где нашли, день/время, примечательные черты)
										span.label-required *
									textarea#finding-textarea.form-control(rows='3', required='required')
								.form-group
									label(for='finding-file') Фото
									input#finding-file.form-control-file(type='file')
								button.btn.btn--default(type='submit') Отправить
